## Database generic config
## -----------------------

# [note]
#   - Replace dummy values with your DB specific connection parameters.
#   - User should align with db service attribute: `user: <value>` if set (see `compose.yaml`).
#   - Change `localhost` to `your-db-service-name` if you use WSL.
DB_ENGINE=your-db-engine
DB_HOST=localhost
DB_NAME=your-db-name
DB_PORT=your-db-port
DB_USER=your-db-user
