## Database generic config
## -----------------------

# [docs] See, Django's provided platform DB engines:
# https://docs.djangoproject.com/en/5.0/ref/settings/#engine
DB_ENGINE=your-db-engine

# [note] See `db` service exposed port if unsure.
DB_PORT=your-db-port
