# Django project config
## --------------------

# [security warning] Keep production secret key, secret.
SECRET_KEY=your-django-secret-key

# [security warning] Don't run with debug turned on in production.
DEBUG=True

# [security warning] `*` allows all hosts to connect. Don't use in production.
ALLOWED_HOSTS=*

# [db config] Replace <placeholders> with actual values.
# [example] postgresql://myuser:myuser-pwd@localhost:5432/my-db
# [note]
#   - pre-set user is `postgres` given the service attribute: `user: postgres` (see `compose.yaml`).
#   - change `localhost` to `your-db-service-name` if you use WSL.
#   - values MUST match with those defined in the `postgres.env`.
DATABASE_URL=postgresql://postgres:<password>@localhost:5432/<database_name>

# [optional] The following are not required if you set `DATABASE_URL`.
# ENGINE=your-django-database-backend
# NAME=your-database-name
# HOST=your-database-container-name
# PORT=your-database-container-port
