# Django project config
## --------------------

# [security warning] Keep production secret key, secret.
SECRET_KEY=your-django-secret-key

# [security warning] Don't run with debug turned on in production.
DEBUG=True

# [security warning] `*` allows all hosts to connect. Don't use in production.
ALLOWED_HOSTS=*

# [db config] Replace placeholder for `DB_NAME`.
# [note]
#   - user should align with db service attribute: `user: <value>` (see `compose.yaml`).
#   - change `localhost` to `your-db-service-name` if you use WSL.
DB_ENGINE=django.db.backends.postgresql
DB_HOST=localhost
DB_NAME=your-database-name
DB_PORT=5432
DB_USER=postgres
