## Django project config
## ---------------------

# [security warning] `*` allows all hosts to connect. Don't use in production.
ALLOWED_HOSTS=*

# [security warning] Don't run with debug turned on in production.
DEBUG=True

# [note]
#   - This is here solely here to support local CI tests and checks.
#   - The app running in the container uses `secrets` to supply a Django secret_key.
#   - Hence, compose will override this value for the containerized app.
SECRET_KEY=your-django-secret-key
