## Gunicorn config
## ---------------

# Logging
GUNICORN_LOG_LEVEL=
GUNICORN_ACCESS_LOG=
GUNICORN_ERROR_LOG=

# Server
GUNICORN_BIND=
GUNICORN_PRELOAD_APP=

# Workers
GUNICORN_WORKERS=
GUNICORN_THREADS=
GUNICORN_WORKER_CLASS=
GUNICORN_TIMEOUT=
GUNICORN_GRACEFUL_TIMEOUT=
GUNICORN_KEEPALIVE=
