# Configuration for the PostgreSQL database: config
## -----

# NOTE: this is the only required variable required by Postgres
POSTGRES_PASSWORD='your-postgres-password'

# NOTE: the following variables are optional
POSTGRES_USER='your-postgres-user'
POSTGRES_DB='your-postgres-db-name'
