# PostgreSQL database config
## -------------------------

# [note] This is the only ENV required by Postgres
POSTGRES_PASSWORD=your-postgres-password

# [note] Uncomment if you remove attribute `user: postgres` in `compose.yaml`.
# [note] Both are required for custom set user (ie. not `postgres`).
# [see] https://stackoverflow.com/questions/60193781/
# POSTGRES_USER=your-postgres-user
# PGUSER=your-postgres-user

POSTGRES_DB=your-postgres-db-name
