## PostgreSQL database config
## --------------------------

# [note] Uncomment if you remove attribute `user: postgres` in `compose.yaml`.
# [note] Both ENVs are required for a custom user (ie. not `postgres`).
# [see] https://stackoverflow.com/questions/60193781/
# POSTGRES_USER=your-postgres-user
# PGUSER=your-postgres-user
