; For more detailed `coverage` configuration
; See: https://coverage.readthedocs.io/en/latest/config.html


[run]
; General settings used when running production code
branch = True
data_file = .coverage
source = src
omit =
    config/*
    */migrations/*
    *admin.py
    */static/*
    */templates/*

[report]
ignore_errors = True
show_missing = True
skip_empty = True
exclude_also =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    assert
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
