[flake8]
; C: Coding style issues
; E: Errors such as syntax errors
; F: Warnings related to code complexity or design
; W: Warnings about stylistic or best practice issues
; T: Type checking errors
; B9: Best practice violations related to security
select = C,E,F,W,T,B9
; W503 = Line Break Before Binary Operator
; F401 = module imported but unused
; C101 = coding magic comment not found
ignore = W503, F401, C101
count = True
max-complexity = 10
max-line-length = 120
show-source = True
statistics = True
